Repository sudokar/aws-sdk-vitest-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): BREAKING CHANGE - Release 1.0.0 (#62)
  package.json
Due: prettier --write

chore(release): 1.0.0
  package.json
Due: prettier --write

fix: array matching in command input matchers
  bun.lock
  package.json
  src/lib/mock-client-array-matching.spec.ts
  src/lib/mock-client.ts
Due: eslint --fix, prettier --write

fix: array matching in command input matchers (#63)
  bun.lock
  package.json
  src/lib/mock-client-array-matching.spec.ts
  src/lib/mock-client.ts
Due: eslint --fix, prettier --write

Update GitHub Sponsors username in FUNDING.yml [no ci]
  .github/FUNDING.yml
Due: prettier --write

Add input validation and improve error handling for utilities
  AGENTS.md
  src/lib/mock-client.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/file-helpers.spec.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.spec.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.spec.ts
  src/lib/utils/stream-helpers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Add input validation and improve error handling for utilities (#81)
  AGENTS.md
  src/lib/mock-client.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/file-helpers.spec.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.spec.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.spec.ts
  src/lib/utils/stream-helpers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

(fix) Downgrade eslint to 9.39.2 and update lockfile
  bun.lock
  package.json
Due: prettier --write

Improve error handling in loadFixture utility
  src/lib/utils/file-helpers.ts
Due: eslint --fix, prettier --write

Improve error handling in loadFixture with error cause
  src/lib/utils/file-helpers.ts
Due: eslint --fix, prettier --write

fix: Improve error handling in loadFixture utility (#126)
  src/lib/utils/file-helpers.ts
Due: eslint --fix, prettier --write

Add Vitest v3 support to CI and update peer dependency
  .github/workflows/ci.yml
  README.md
  bun.lock
  package.json
Due: prettier --write

chore: Add Vitest v3 support to CI and update peer dependency (#127)
  .github/workflows/ci.yml
  README.md
  bun.lock
  package.json
Due: prettier --write

chore: Downgrade eslint to 9
  bun.lock
  package.json
Due: prettier --write

chore: Configure dependabot to ignore eslint updates
  .github/dependabot.yml
Due: prettier --write

Fix ESLint JSON parser config and minor code/test cleanup
  eslint.config.mts
  nx.json
  src/lib/matchers.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/mock-client.ts
  src/lib/utils/stream-helpers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: ESLint JSON parser config and minor code/test cleanup (#167)
  eslint.config.mts
  nx.json
  src/lib/matchers.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/mock-client.ts
  src/lib/utils/stream-helpers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Migrate linting from ESLint to nx-oxlint
  .lintstagedrc.json
  .oxlintrc.json
  bun.lock
  eslint.config.mts
  nx.json
  package.json
  project.json
  src/lib/matchers.spec.ts
  src/lib/matchers.ts
  src/lib/mixed-versions.spec.ts
  src/lib/mock-client-advanced.spec.ts
  src/lib/mock-client-debug.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.spec.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.spec.ts
Due: eslint --fix, prettier --write

fix: add missing @smithy/smithy-client dependency
  bun.lock
  package.json
Due: prettier --write

chore: Migrate linting from ESLint to nx-oxlint (#245)
  .lintstagedrc.json
  .oxlintrc.json
  bun.lock
  eslint.config.mts
  nx.json
  package.json
  project.json
  src/lib/matchers.spec.ts
  src/lib/matchers.ts
  src/lib/mixed-versions.spec.ts
  src/lib/mock-client-advanced.spec.ts
  src/lib/mock-client-debug.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.spec.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.spec.ts
Due: eslint --fix, prettier --write

fix: restore chore releases and prevent partial GH releases
  .github/workflows/release.yml
  nx.json
Due: prettier --write

fix: restore chore releases by mapping chore commits to patch bump
  .github/workflows/release.yml
Due: prettier --write

fix: restore chore releases and prevent partial GH releases (#246)
  nx.json
Due: prettier --write

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: prettier --write

chore: [nx migration] checkpoint before running migrations
  bun.lock
  migrations.json
  nx.json
  package.json
  tools/ai-migrations/@nx/vite/23.0.1/ai-instructions-for-vite-8.md
  tools/ai-migrations/@nx/vite/23.0.1/ai-instructions-for-vitest-3.md
  tools/ai-migrations/@nx/vite/23.0.1/ai-instructions-for-vitest-4.md
Due: prettier --write

chore: [nx migration] 23-0-0-add-migrate-runs-to-git-ignore
  .gitignore
Due: none

chore: [nx migration] rename-rollup-options-to-rolldown-options
  vite.config.mts
Due: eslint --fix, prettier --write

fix: add TypeScript 7 compatibility for CI
  bun.lock
  package.json
  project.json
Due: prettier --write

fix: add TypeScript 7 compatibility for CI (#278)
  bun.lock
  package.json
  project.json
Due: prettier --write

fix: make bun run docs work with TypeScript 7
  bun.lock
  package.json
  tools/typedoc-ts6-hook.mjs
  tools/typedoc-ts6-shim.mjs
Due: eslint --fix, prettier --write

fix: resolve bun run docs TypeDoc notExported warnings
  src/index.ts
  src/lib/mock-client.ts
  typedoc.json
Due: eslint --fix, prettier --write

fix: make bun run docs work with TypeScript 7 (#279)
  bun.lock
  package.json
  src/index.ts
  src/lib/mock-client.ts
  tools/typedoc-ts6-hook.mjs
  tools/typedoc-ts6-shim.mjs
  typedoc.json
Due: eslint --fix, prettier --write

fix(matchers): accept heterogeneous command types in toHaveReceivedNoOtherCommands
  nx.json
  src/lib/matchers.spec.ts
  src/lib/matchers.ts
Due: eslint --fix, prettier --write

fix(matchers): accept heterogeneous command types in toHaveReceivedNoOtherCommands (#286)
  nx.json
  src/lib/matchers.spec.ts
  src/lib/matchers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,mts,cts}) or (any of: *.{js,jsx,mjs,cjs})
  prettier --write: ((any of: *.{ts,tsx,mts,cts}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,yml,yaml})
