Repository sudokar/aws-sdk-vitest-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Add automated API docs generation and GitHub Pages workflow
  .github/workflows/docs.yml
  .gitignore
  bun.lock
  package.json
  project.json
  src/index.ts
  src/lib/matchers.ts
  src/lib/mock-client.ts
  typedoc.json
Due: eslint --fix, prettier --write

docs: Add automated API docs generation and GitHub Pages workflow (#8)
  .github/workflows/docs.yml
  .gitignore
  bun.lock
  package.json
  project.json
  src/index.ts
  src/lib/matchers.ts
  src/lib/mock-client.ts
  typedoc.json
Due: eslint --fix, prettier --write

Clarify mock reset behavior and improve pagination docs
  README.md
  src/lib/mock-client-edge-cases.test.ts
  src/lib/mock-client.test.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.test.ts
  src/lib/utils/debug-logger.ts
  src/lib/utils/paginator-helpers.test.ts
  src/lib/utils/paginator-helpers.ts
Due: eslint --fix, prettier --write

Remove redundant Testing section from PR template
  .github/pull_request_template.md
Due: prettier --write

Update CI to use bun run ci and clean up issue template
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

Add badges for npm, CI, monorepo, and code style to README
  README.md
Due: prettier --write

Move Maintained badge after Prettier badge in README
  README.md
Due: prettier --write

Remove Nx monorepo badge from README
  README.md
Due: prettier --write

chore: Reset and pagination improv (#9)
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  src/lib/mock-client-edge-cases.test.ts
  src/lib/mock-client.test.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.test.ts
  src/lib/utils/debug-logger.ts
  src/lib/utils/paginator-helpers.test.ts
  src/lib/utils/paginator-helpers.ts
Due: eslint --fix, prettier --write

chore(release): 0.5.0
  package.json
Due: prettier --write

Add link to TypeScript documentation in README
  README.md
Due: prettier --write

chore: [Skip CI] Add link to TypeScript documentation in README (#10)
  README.md
Due: prettier --write

chore: refactor
  src/lib/matchers.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/debug-logger.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.ts
Due: eslint --fix, prettier --write

chore: refactor (#11)
  src/lib/matchers.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/debug-logger.ts
  src/lib/utils/file-helpers.ts
  src/lib/utils/paginator-helpers.ts
  src/lib/utils/stream-helpers.ts
Due: eslint --fix, prettier --write

Add global debug configuration for all mocks
  README.md
  src/index.ts
  src/lib/mock-client-global-debug.test.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.test.ts
  src/lib/utils/debug-logger.ts
Due: eslint --fix, prettier --write

feat: Add global debug configuration for all mocks (#12)
  .github/workflows/release.yml
  README.md
  src/index.ts
  src/lib/mock-client-global-debug.test.ts
  src/lib/mock-client.ts
  src/lib/utils/debug-logger.test.ts
  src/lib/utils/debug-logger.ts
Due: eslint --fix, prettier --write

Split and reorganize test suite for better coverage and clarity
  src/lib/mock-client-advanced.test.ts
  src/lib/mock-client-assertions.test.ts
  src/lib/mock-client-basic.test.ts
  src/lib/mock-client-debug.test.ts
  src/lib/mock-client-edge-cases.test.ts
  src/lib/mock-client-lifecycle.test.ts
  src/lib/mock-client-matchers.test.ts
  src/lib/mock-client-pagination.test.ts
  src/lib/mock-client-responses.test.ts
  src/lib/mock-client.test.ts
Due: eslint --fix, prettier --write

Rename test files from .test.ts to .spec.ts
  src/lib/matchers.spec.ts
  src/lib/mixed-versions.spec.ts
  src/lib/mock-client-advanced.spec.ts
  src/lib/mock-client-assertions.spec.ts
  src/lib/mock-client-basic.spec.ts
  src/lib/mock-client-debug.spec.ts
  src/lib/mock-client-lifecycle.spec.ts
  src/lib/mock-client-matchers.spec.ts
  src/lib/mock-client-pagination.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/debug-logger.spec.ts
  src/lib/utils/file-helpers.spec.ts
  src/lib/utils/paginator-helpers.spec.ts
  src/lib/utils/stream-helpers.spec.ts
Due: eslint --fix, prettier --write

Relax delay assertions in delay simulation tests
  src/lib/mock-client-responses.spec.ts
Due: eslint --fix, prettier --write

chore: Split and reorganize test suite for better coverage and clarity (#13)
  src/lib/matchers.spec.ts
  src/lib/mixed-versions.spec.ts
  src/lib/mock-client-advanced.spec.ts
  src/lib/mock-client-assertions.spec.ts
  src/lib/mock-client-basic.spec.ts
  src/lib/mock-client-debug.spec.ts
  src/lib/mock-client-edge-cases.test.ts
  src/lib/mock-client-lifecycle.spec.ts
  src/lib/mock-client-matchers.spec.ts
  src/lib/mock-client-pagination.spec.ts
  src/lib/mock-client-responses.spec.ts
  src/lib/mock-client.test.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/debug-logger.spec.ts
  src/lib/utils/file-helpers.spec.ts
  src/lib/utils/paginator-helpers.spec.ts
  src/lib/utils/stream-helpers.spec.ts
Due: eslint --fix, prettier --write

Add DeepPartial support and improve error handling
  bun.lock
  eslint.config.mts
  package.json
  src/lib/mock-client.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/file-helpers.ts
Due: eslint --fix, prettier --write

feat: Add DeepPartial support and improve error handling (#14)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  bun.lock
  eslint.config.mts
  nx.json
  package.json
  src/lib/mock-client.ts
  src/lib/utils/aws-errors.spec.ts
  src/lib/utils/aws-errors.ts
  src/lib/utils/file-helpers.ts
Due: eslint --fix, prettier --write

chore: fix ci workflow
  .github/workflows/ci.yml
Due: prettier --write

chore: fix ci workflow (#15)
  .github/workflows/ci.yml
Due: prettier --write

Add API docs link to feature list in README
  README.md
Due: prettier --write

Add MIT License to the project
  LICENSE
Due: none

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

Add Codacy badge
  README.md
Due: prettier --write

Add Codacy badge to README
  README.md
Due: prettier --write

chore: Add Codacy badge to README [skip ci] (#18)
  README.md
Due: prettier --write

Update Dependabot config for bun and daily checks
  .github/dependabot.yml
Due: prettier --write

ci(Mergify): configuration update
  .mergify.yml
Due: prettier --write

Change automerge label to dependencies
  .mergify.yml
Due: prettier --write

ci(Mergify): configuration update (#33)
  .mergify.yml
Due: prettier --write

chore: auto approve
  .github/workflows/dependabot-auto-approve.yml
Due: prettier --write

chore: update auto-approve
  .github/workflows/dependabot-auto-approve.yml
Due: prettier --write

Configure auto-approve action with GitHub token [skip ci]
  .github/workflows/dependabot-auto-approve.yml
Due: prettier --write

Change Dependabot update interval to weekly [skip ci]
  .github/dependabot.yml
Due: prettier --write

chore(release): 1.0.0
  package.json
Due: prettier --write
